.disease-square {
  width: 6vmax;
  height: 6vmax;
  background-color: white;
  border: 1px solid none;
  /* Shadow */
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  /* Left text */
  text-align: left;
  border-radius: .5vmax;
}

.disease-organ {
  font-size: .8vmax;
  display: block;
  position: relative;
  line-height: .9;
  width: 95%;
  left: 5%;
  top: 10%;
  bottom: 10%;
  font-weight: 600;
}

.disease-cell-type {
  font-size: .6vmax;
  display: block;
  position: relative;
  left: 5%;
  top: 20%;
  line-height: 1;
}

.disease-name {
  font-size: .6vmax;
  position: relative;
  display: block;
  left: 5%;
  width: 95%;
  top: 25%;
  bottom: 5%;
  line-height: 1;
  color: #92302e;
  font-weight: 600;
  word-break: break-word;
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
}

.periodic-table {
  margin-top: 5%;
  display: grid;
  row-gap: 1vmin;
  column-gap: 0vmin;
  width: 100%;
}

.periodic-table-container {
  box-shadow: 0px 0px 0px 1px black;
  border-radius: 1vmin;
  margin-top: 7vh;
  padding: 1.25%;
  width: 100%;
  background: #FCFCFC;
}

.disease-class-container {
  display: grid;
  margin-top: none;
  grid-template-rows: 3vh 3vh;
  column-gap: auto;
  height: fit-content;
}

.disease-class-color {
  width: 1vmax;
  height: 1vmax;
  border: 1px solid black;
  vertical-align: middle;
}

.disease-class-text {
  position: relative;
  margin-left: 2vmax;
  top: -1vmax;
  font-size: 1vmax;
  width: 2vmax;
  height: 1vmax;
  word-break: break-word;
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
}

.disease-class-rectangle {
  width: 20vw;
  height: 2vh;
  font-size: 1vh;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  /* Left text */
  text-align: left;
}

.selected-disease > * {
  position: relative;
  transform: translate(50%, 50%);
  order: 0;
  align-self: auto;
}

.navbar-brand > img {
  width: 10vh;
  height: 10vh;
  position: fixed;
  top: 0vh;
  left: 2vh;
}

.navbar-brand > span {
  position: fixed;
  top: 2.75vh;
  left: 13vh;
  font-size: 3vh;
}

.navbar {
  height: 10vh;
}

html, body {margin: 0; height: 100%; overflow: hidden}
